@using TechStoreApp.Web.ViewModels.Search
@model SearchFormModel

<link rel="stylesheet" href="~/css/search-page.css"/>

<div class="whole-SearchPage-body">
    <div class="filters-wrap-div">

        <form id="search-in-category-form" asp-action="Search" asp-controller="Search" method="get">
            <input type="hidden" asp-for="@Model.Category" value="@Model.Category"/>
            <input type="text"  asp-for="@Model.Query" placeholder="Search in category..."/>

            <button type="submit">
                <img src="~/images/magnifying-glass-icon-11.png" />
            </button>
        </form>

        <div id="category-filter-div">
            <form id="filter-by-category" asp-action="Search" asp-controller="Search" method="get">
                <input type="hidden" asp-for="@Model.Query" value="@Model.Query" />

                <ul>
                    <li><button type="submit" name="Category" value="All">All products</button></li>
                    <li><button type="submit" name="Category" value="Prebuilt Configuration">Configured Systems</button></li>
                    <li><button type="submit" name="Category" value="Graphics Card">Graphics Cards</button></li>
                    <li><button type="submit" name="Category" value="Processor">Processors</button></li>
                    <li><button type="submit" name="Category" value="Processor Cooler">CPU Coolers</button></li>
                    <li><button type="submit" name="Category" value="PC Case">PC Cases</button></li>
                    <li><button type="submit" name="Category" value="Motherboard">Motherboards</button></li>
                    <li><button type="submit" name="Category" value="RAM">RAM sticks</button></li>
                    <li><button type="submit" name="Category" value="SSD">Solid state drives (SSDs)</button></li>
                    <li><button type="submit" name="Category" value="HDD">Hard disk drives (HDDs)</button></li>
                    <li><button type="submit" name="Category" value="Powersupply">Power Supplies</button></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="products-wrap-div">
         @await Component.InvokeAsync("Search", new { query = Model.Query, category = Model.Category, currentPage = Model.CurrentPage })
    </div>
</div>

@section Scripts {
    <script src="~/js/search-page.js"></script>
    <script>
        function getModel() {
            return @Html.Raw(Json.Serialize(Model));
        }
    </script>
}