@using TechStoreApp.Web.ViewModels.Home
@using TechStoreApp.Web.ViewModels.Search
@model HomeViewModel

<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="~/css/home-page.css">
    <script src="~/js/home-page.js"></script>
</head>

<section class="hero bg-primary text-white text-center py-5">
    <h1 class="display-4">Welcome to Our Store</h1>
    <p class="lead">Find the best deals on top-quality products.</p>
    <a href="@Url.Action("Search", "Search")" class="btn btn-light btn-lg">Start Shopping</a>
</section>

<section class="categories py-5">
    <div class="container text-center">
        <h2>Browse Our Categories</h2>
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-md-4">
                    <div class="category-card">
                        @if (category.ImageUrls != null && category.ImageUrls.Any())
                        {
                            <div class="row">
                                @foreach (var image in category.ImageUrls)
                                {
                                    <div class="col-6 mb-2">
                                        <img class="img-fluid" src="@image" onerror="invalidProductPhoto(this)" />
                                    </div>
                                }
                            </div>
                        }
                        <h3>@category.Description</h3>
                        <a href="@Url.Action("Search", "Search", new { CategoryId = category.Id })" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<section class="featured-products py-5 bg-light">
    <div class="container">
        <h2 class="text-center">Featured Products</h2>
        <div class="row">
            @foreach (var product in Model.FeaturedProducts)
            {
                <div class="col-md-4">
                    <div class="product-card">
                        <a href="@Url.Action("RedirectToDetails", "Product", new { productId = product.ProductId })">
                            <img src="@product.ImageUrl" class="img-fluid" onerror="invalidProductPhoto(this)" />
                        </a>
                        <h3>@product.Name</h3>
                        <p class="product-price">$@product.Price</p>

                        <a href="@Url.Action("RedirectToDetails", "Product", new { productId = product.ProductId })" class="btn btn-success m-2">
                            View Details
                        </a>

                        <div class="d-flex justify-content-around">
                            @{
                                await Html.RenderPartialAsync("_AddToCartPartial", new { productId = product.ProductId });

                                await Html.RenderPartialAsync("_LikesProductPartial", new { productId = product.ProductId,
                                    checkedString = product.CheckedString,
                                    totalLikes = product.TotalLikes });
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="reviews py-5">
    <div class="container">
        <h2 class="text-center">Customer Reviews</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="review-card">
                    <img src="https://thumbs.dreamstime.com/b/happy-indian-man-t-shirt-showing-thumbs-up-gesture-people-concept-smiling-young-130955451.jpg" class="review-image" alt="Customer Image" />
                    <p>"This store is amazing! Great quality products at great prices."</p>
                    <p>- John Doe</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="review-card">
                    <img src="https://media.istockphoto.com/id/175174559/photo/happy-man-wishing-good-luck-isolated.jpg?s=1024x1024&w=is&k=20&c=Bdh-fY2YB0RUV7uWaBtE5-gWd256ILuNbfalGNttF0E=" class="review-image" alt="Customer Image" />
                    <p>"Fast shipping and great customer service. Highly recommend!"</p>
                    <p>- John Doe</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="review-card">
                    <img src="https://as2.ftcdn.net/v2/jpg/00/49/22/63/1000_F_49226343_zrW0Mlu6hqxzgN2gUBwW8EGaHmD5GZU6.jpg" class="review-image" alt="Customer Image" />
                    <p>"I love the variety of products. Will definitely be coming back."</p>
                    <p>- John Doe</p>
                </div>
            </div>
        </div>
    </div>
</section>


