@using TechStoreApp.Web.ViewModels.User
@model ManageUsersViewModel

<head>
    <link rel="stylesheet" href="~/css/manage-page.css"/>
</head>

<div>
    <form id="searchForm" asp-action="Manage" asp-controller="Account" method="get">
        <input type="text" name="email" placeholder="Email"/>
        <input type="text" name="userName" placeholder="User Name" />
        <input type="hidden" />

        <button type="submit">Search</button>
    </form>

    @for (int i = 1; i <= Model.TotalPages; i++) // Assuming pages start from 1
    {
        if (Model.Page == i)
        {
            <a class="page-selector" id="page-@i" style="background-color: gray"
               href="@Url.Action("Manage", new { page = i, userName = Model.UserNameQuery, email = Model.EmailQuery })">@i</a>
        }
        else
        {
            <a class="page-selector" id="page-@i"
               href="@Url.Action("Manage", new { page = i, userName = Model.UserNameQuery, email = Model.EmailQuery })">@i</a>
        }
    }
</div>

<div class="container user-grid">
    <div class="row">
        @foreach (var profile in Model.Users)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="user-card">
                    <img src="@profile.ProfilePictureUrl" onerror="invalidProfilePicture(this)">
                    <h1>@profile.UserName</h1>
                    <p><strong>Email:</strong> @profile.Email</p>
                    <p><strong>User ID:</strong> @profile.UserId</p>

                    <div class="d-inline">
                        @foreach (var role in profile.UserRoles)
                        {
                            <span class="badge bg-secondary">@role</span>
                        }
                    </div>

                    <form method="post" asp-action="AssignRole" asp-controller="UserManagement" asp-area="Admin" class="d-flex flex-nowrap justify-content-around m-3">
                        <input type="hidden" name="userId" value="@profile.UserId" />
                        <select name="role" class="form-select d-inline w-auto">
                            @foreach (var role in profile.MissingRoles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary btn-sm">Assign Role</button>
                    </form>

                    <form method="post" asp-action="RemoveRole" asp-controller="UserManagement" asp-area="Admin" class="d-flex flex-nowrap justify-content-around m-3">
                        <input type="hidden" name="userId" value="@profile.UserId" />
                        <select name="role" class="form-select d-inline w-auto">
                            @foreach (var role in profile.UserRoles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-warning btn-sm">Remove Role</button>
                    </form>

                    <form method="post" asp-action="DeleteUser" asp-controller="UserManagement" asp-area="Admin" class="d-inline m-3">
                        <input type="hidden" name="userId" value="@profile.UserId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                    <form method="get" asp-action="Index" asp-controller="Account" asp-area="Admin" class="d-inline m-3">
                        <input type="hidden" name="userId" value="@profile.UserId" />
                        
                        <button type="submit" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                            View Account
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
