@using static TechStoreApp.Common.GeneralConstraints
@using System.Security.Claims
@using TechStoreApp.Web.ViewModels.User
@model UserViewModel

@{
    var isMyProfile = User.FindFirst(ClaimTypes.NameIdentifier)!.Value == Model.UserId;
}

<head>
    <link rel="stylesheet" href="~/css/profile-page.css" />
</head>

@if (isMyProfile)
{
    <p class="text-center">This is your profile.</p>
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-4">
        @if (isMyProfile)
        {
            <!-- Logout Button -->
            <form asp-controller="Account" asp-action="Logout" asp-area="" method="post">
                <button class="btn btn-warning btn-dark-text py-2 fw-bold rounded" type="submit"> Logout </button>
            </form>
        }

        <!-- Admin Management Button (Visible Only for Admins) -->
        @if (User.IsInRole(AdminRoleName))
        {
            <form asp-area="Admin" asp-controller="UserManagement" asp-action="Manage" method="get">
                <button class="btn btn-info btn-dark-text py-2 fw-bold rounded" type="submit">
                    Manage Users' Accounts
                </button>
            </form>
        }
    </div>

    <!-- User Details Section -->
    <div class="user-details mb-4 p-3 border rounded shadow-sm bg-light">
        <h2 class="mb-3">User Details</h2>
        <dl class="row align-items-center">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Profile Picture:</dt>
            <dd class="col-sm-9">
                <div class="d-flex align-items-start">
                    <!-- Profile Picture -->
                    <div class="m-3 d-flex justify-content-center align-items-center">
                        <img src="@Model.PictureUrl" onerror="invalidProfilePicture(this)" class="img-thumbnail" style="max-width: 150px; height: 100%" />
                    </div>

                    <!-- Form -->
                    <div class="flex-grow-1 p-3">
                        <form asp-action="ChangeProfilePicture" asp-controller="Profile" method="post" class="mt-3">
                            <div class="mb-3">
                                <label for="profilePictureUrl" class="form-label">Change Profile Picture</label>
                                <input type="text" name="profilePictureUrl" id="profilePictureUrl" class="form-control" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </dd>

            <dt class="col-sm-3">User Id:</dt>
            <dd class="col-sm-9">@Model.UserId</dd>

            <dt class="col-sm-3">User Roles:</dt>
            <dd class="col-sm-9">@(string.Join(", ", Model.Roles))</dd>
        </dl>
    </div>

    <!-- User Orders Section -->
    <div class="orders-container">
        <h2 class="mb-3">Orders:</h2>
        @await Component.InvokeAsync("UserOrdersAdmin", Model.UserId)
    </div>
</div>
