@using TechStoreApp.Web.ViewModels.Orders
@model DisplayOrderPageViewModel

@foreach (var order in Model.Orders)
{
	<div class="single-order">

		<div class="order-head">
			<p>Order ID: @order.OrderId</p>

			<p>@order.OrderDate</p>
		</div>
		
		@foreach (var orderDetail in order.OrderDetails)
		{
			<div class="product-cell-div">
				<img class="product-image" src="@orderDetail.ProductImageUrl" />
				<p>@orderDetail.ProductName</p>
				<p>@orderDetail.Quantity x $@orderDetail.UnitPrice</p>
				
			</div>
		}

		<div class="order-footer">
			<p>Delivery address: @order.ShippingAddress</p>
		</div>

	</div>
}

