@using TechStoreApp.Web.ViewModels
@model CartViewModel
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="~/css/cart-page.css"/>
</head>

<div class="whole-SearchPage-body">
	<div class="main-body-id">
        <div id="cart-header">
            <form id="clear-cart-form" asp-action="ClearCart" asp-controller="Cart" method="post">
                <button type="submit">
                    Empty whole cart
                    <img src="~/images/trash-bin-white.png">
                </button>
            </form>

        </div>
		@{
            if (Model.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    <div class="product-div" id="@item.ProductId">
                        
                        <a class="image-link" href="@Url.Action("RedirectToDetails", "Product", new { productId = item.ProductId })">
                            <img class="image-for-product" src="@item.Product.ImageUrl" onerror="invalidPhoto(this)" />
                        </a>

                        <div class="stock-control">
                            <form asp-action="DecreaseCount" asp-controller="Cart" method="post">
                                <input type="hidden" name="productId" value="@item.ProductId"/>

                                <button class="decrease-count-class" value="@item.ProductId" type="submit">-</button>                       
                            </form>

                            <div class="item-quantity">
                                <p>@item.Quantity</p>
                            </div>

                            <form asp-action="IncreaseCount" asp-controller="Cart" method="post">
                                <input type="hidden" name="productId" value="@item.ProductId" />

                                <button class="increase-count-class" value="@item.ProductId" type="submit">+</button>
                            </form>
                        </div>

                        <form asp-action="RemoveFromCart" asp-controller="Cart" method="post" class="remove-from-cart-form">
                            <input type="hidden" name="productId" value="@item.ProductId" />

						    <button class="trash-can-button" type="submit">
                                <img class="trash-can" src="~/images/trash-bin-black.png" />
                            </button>
                        </form>

                        <p>@item.Product.Name</p>

                    </div>

                    <hr />
                }
            }
            else
            {
                <p>Cart is empty.</p>
            }
        }
	</div>

    <div class="order-contents">
        @if (Model.CartItems != null && Model.CartItems.Any())
        {
            <a asp-action="Order" asp-controller="Order" class="order-button">TO THE ORDER</a>
        } else {
            <a asp-action="Search" asp-controller="Search" class="order-button">TO PRODUCTS</a>
        }
    </div>
</div>

<script src="~/js/cart-page.js"></script>

