@using TechStoreApp.Web.ViewModels
@model CartViewModel

<link rel="stylesheet" href="~/css/cart-page.css"/>
<script src="~/js/cart-page.js"></script>

<div class="whole-SearchPage-body">
	<div class="main-body-id">
        <div id="cart-header">
            <form id="clear-cart-form">
                <button type="submit">
                    Empty whole cart
                    <img src="~/images/trash-bin-white.png">
                </button>
            </form>

        </div>
		@{
            if (Model.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    <div class="product-div" id="@item.ProductId">
                        <a class="image-link" href="@Url.Action("RedirectToDetails", "Product", new { productId = item.ProductId })">
                            <img class="image-for-product" src="@item.Product.ImageUrl" alt="Product image" />
                        </a>

                        <div class="stock-control">
                            <button class="decrease-count-class" value="@item.ProductId" type="submit">-</button>
                            <div class="item-quantity">
                                <p>@item.Quantity</p>
                            </div>
                            <button class="increase-count-class" value="@item.ProductId" type="submit">+</button>
                        </div>

						<div class="trash-can-div">
                            <img class="trash-can" src="https://icons.veryicon.com/png/o/miscellaneous/flat-wireframe-library/trash-bin-3.png" />
                        </div>

                        <p>@item.Product.Name</p>
                    </div>

                    <hr />
                }
            }
            else
            {
                <p>Cart is empty.</p>
            }
        }
	</div>

    <div class="order-contents">
        @if (Model.CartItems != null && Model.CartItems.Any())
        {
            <a asp-action="Order" asp-controller="Order">TO THE ORDER</a>
        } else {
            <a asp-action="Search" asp-controller="Search">TO PRODUCTS</a>
        }
    </div>
</div>


